:root {
	--background-main: #141414;
	--background-light: #252525;

	--color-main: #E8E8E8;
	--color-hover: #3F66CA;

	--font-default: 'Whitney Book', Helvetica;
	--font-logo: Whitney, Helvetica;
}

body {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: var(--background-main);
}

.main-content {
	animation: rise-up 750ms ease-in-out;
}
@keyframes rise-up {
    0% {
        opacity: 0;
        transform: translateY(35px);
    }
    100% {
        opacity: 1;
		transform: none;
    }
}

.default-text {
	position: relative;
	display: flex;
	justify-content: center;
	color: var(--color-main);
	user-select: none;
	font-family: var(--font-default);
}
.text-logo {
	font-family: var(--font-logo);
	font-weight: bold;
	font-size: 100px;
}

.connections {
	position: relative;
	display: flex;
	bottom: 6px;
	padding-bottom: 10px;
}
.connection {
    display: flex;
	align-items: center;
	border-radius: 5px;
	padding: 10px;
	background-color: var(--background-light);
	font-family: var(--font-default);
	font-size: 15px;
	transition: all 200ms linear;
}
.connection:hover {
	background-color: var(--color-hover);
}
.connection:not(:last-child) {
	margin-right: 10px;
}
.connection-logo {
	display: flex;
	margin-right: 5px;
}
.connection-discord {
	user-select: all;
}
.connection-github {
	color: inherit;
	text-decoration: none;
}
